html, body{
    margin: 0;
    padding: 0;
    max-width: 800px;
}

.container{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.container-satu{
    background: rgba(210, 222, 224, 0.3);
    width: 692px;
    height: 661px;
}

.container-satu button{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 300px;
    left: 75px;
    color: white;
    background-color: #000000;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.header{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 88px;
    left: 75px;
    font-size: 60px;
    line-height: 95%;
}

.container-dua {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    border-right: 1px solid #E7F0F2;
    margin: 60px auto;
    width: 70px;
    right: 250px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.container-dua div:hover{
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
}

.container-tiga{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    font-size: 36px;
    top: 290px;
    right: 250px;
}

.container-empat{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    border-top: 1px solid #E7F0F2;
    color: rgba(0, 0, 0, 0.55);;
    width: 200px;
    height: 50px;
    font-size: 12px;
    top: 380px;
    right: 250px;
    text-align: right;
    padding: 10px;
}

.container-lima{
    position: absolute;
    /* background-color: lawngreen; */
    width: 700px;
    top: 500px;
    right: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-lima div.gambar{
    width: 215px;
    height: 115px;
    background-color: black;
    color: white;
}

.judul{
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
}

.subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 7px;
}

.gambar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    line-height: 15px;
}

.gambar:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.footer{
    border-top: 1px solid #C4C4C4;
    width: 1150px;
    height: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.kotak{
    columns: 3;
    display: inline-block;
    list-style-type: square;
    column-gap: 7px;
    line-height: 7px;    
}